name: .NET Core
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get Ver Tag
        id: get_version
        run: echo ::set-output name=VERSION::$( git describe | ack -o '\d+\.\d+\.\d+'; )
      - uses: actions/checkout@v1
      - name: Report 1
        run: echo "The Tag Version is {{ steps.get_version.outputs.VERSION }}. Did that work?"
#    - name: Setup .NET Core
#      uses: actions/setup-dotnet@v1
#      with:
#        dotnet-version: 2.2.108
#    - name: Build with dotnet
#      run: dotnet build -p:Version=$GitVersion_SemVer --configuration Debug
#    - name: Report 2
#      run: echo $GitVersion_SemVer
#    - name: Nuget Pack
#      run: >- 
#        dotnet pack ./Orbit.System/Orbit.System.csproj 
#        -c Debug 
#        --include-source --include-symbols --no-dependencies 
#        -o ../dist/Orbit.System/Debug/ 
#        --version-suffix dev -v d
